node_modules/
.env
.env.local
.env.*.local
dist/
build/
bin/
obj/
out/
docker-compose.override.yml
*.log
*.txt
.DS_Store
.idea/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.lock-wscript
*.temp.*